
   
    <form class="form-AgregarCandidato"action='@Url.Action("GuardarCandidato")' method="post">
        <input type="hidden" name="IDCandidato" value="0">
        <input type="hidden" name="IDPartido" value="@ViewBag.IDPartido">
        <input type="text" name="Apellido" placeholder="Apellido">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="date" name="FechaNacimiento">
        <input type="text" name="Foto" placeholder="Link a la foto">
        <input type="text" name="Postulacion" placeholder="Postulacion">
        <button type="sumbit">Postular candidato</button>
    </form>
