*{
  padding: 0%;
  margin: 0%;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.form-AgregarCandidato{
  width: 100%;
  height: -50%;
}

h1, .partido h1 {
  text-align: center;
  font-family: 6'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
body{
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/852/474/original/argentina-waving-flag-seamless-loop-animation-4k-resolution-free-video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: sticky;
  justify-content: center;
  align-items: center;
}


.partido {
  justify-content: center;
  
}
.partido div {
  width: 25%;
  height: auto;
}

.index, .candidato {
  width: 28%;
  height: auto;
  margin: 1%;
 float: left;
}
.candidato {
  text-align: center;
  font-weight: bolder;
  background-color: beige;
  border: 3px solid black;
}

.index img, .partido div img {
  width: 100%;
  height: auto;

}

.candidato img {
  width: 75%;
  height: auto;
  justify-content: center;
  border: 2px solid black;
}

.creditos{
  float: left;
  width: 28%;
  margin: 1%;
}
.creditos img {
  width: 100%;
}
.imgLayout{
  height: 100%;
  width:100%;
}

.body-layout {
  background-color: rgb(0, 0, 0);
}
.header-layout{
  width: 100%;
  height: 5%;
  margin-top: -480px;
}