*{
  padding: 0%;
  margin: 0%;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body{
  background-color: rgb(32, 100, 165);
}
.form-AgregarCandidato{
  width: 100%;
  height: -50%;
}

.Elecciones{
  background-color: rgb(41, 156, 233);
  border-radius: 1px solid black;
  font-weight:bold ;
  margin-top: 50px;
  text-align: center;
  font-weight:bolder;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, .partido h1 {
  text-align: center;
  font-family: 6'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
.imagen {
  background-image: url("FondoIndex.png");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0.1px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}


.partido {
  justify-content: center;
  
}
.partido div {
  width: 25%;
  height: auto;
}

.detallePartido{
  box-shadow: 100px;
  background-color: rgb(50, 183, 216);
  border-radius: 120px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.detallePartido img{
  width: 25%;
}

.index, .candidato {
  width: 28%;
  height: auto;
}
.partidos{
  border: 2px solid black;
  border-radius: 100px;
  padding: 1%;
  margin: 1%;
  width: 30%;
  height: 30%;
  float: left;
  text-align: center;
  background-color: white;
}
.partidos h3 {
  color: black;
}
.candidato img{
  width: 50%;
  height: 20%;
}
.candidato {
  width: 30%;
  height: 30%;
  float: left;
  text-align: center;
  font-weight: bolder;
  margin: 0.5%;
  background-color: rgb(245, 245, 120);
  border: 3px solid black;
  border-radius: 30px;
}

.index img, .partido div img {
  width: 100%;
  height: auto;

}

.candidato img {
  width: 75%;
  height: auto;
  justify-content: center;
  border: 2px solid black;
}

.title{
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.699);
  font-style: none;
}
.partidos div {
  text-align: center;
}

.partidos h3{
  text-align: center;
}
.partidos img{
  width: 70%;
  float:center;
}
.creditos{
  float: left;
  width: 28%;
  margin: 1%;
}
.creditos img {
  width: 100%;
}
.imgLayout{
  height: 50%;
  width:50%;
}

.body-layout {
  background-color: rgb(0, 0, 0);
}
.header-layout{
  width: 100%;
  height: 5%;
  margin-top: -480px;
}